.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 768px;
    flex-direction: row;
    align-items: flex-start;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  .image {
    margin-bottom: 20px;
    width: 300px;
    height: auto;

    @media (min-width: 768px) {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .box {
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }

    .title {
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: bold;
    }

    .rating {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold;

      .descr {
        margin-left: 10px;
        font-weight: normal;
      }
    }

    .subtitle {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: bold;

      .descr {
        margin-left: 10px;
        font-weight: normal;
      }
    }

    .genres {
      margin-left: 10px;
      font-weight: normal;
    }

    ul {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      @media (min-width: 768px) {
        justify-content: flex-start;
      }

      li {
        margin-right: 10px;
        font-size: 22px;
        font-weight: bold;

        &:last-child {
          margin-right: 0;
        }

        .link {
          color: #000;
        }

        .activeLink {
          color: orange;
        }
      }
    }
  }
}

.button {
  background-color: #ff6b08;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus {
    background-color: #e55806;
  }
}
