.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.image {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 30px;
  width: 300px;
  height: auto;
}

.box {
  text-align: start;
}

.title {
  font-size: 30px;
}

.rating {
  margin: 0;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-size: 20px;
}

.descr {
  margin: 0;
  padding: 15px;
  font-weight: 400;
}

.genres {
  margin: 0;
  display: inline-block;
  padding: 5px 20px;
  font-weight: 400;
  list-style: none;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-weight: 500;
  color: #2a363b;
  font-size: 22px;
  font-weight: 700;
}

.activeLink {
  composes: link;
  color: #ff6b08;
}

.buttton__wrapper {
  padding: 20px;
}

.button {
  position: fixed;
  top: 13%;
  left: 45%;
  z-index: 103;

  width: 70px;
  height: 70px;
  color: white;
  background-color: #ff6b08;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  border-radius: 50%;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);

  @media screen and (min-width: 768px) {
    top: 5%;
    left: 30%;
  }

  @media screen and (min-width: 1280px) {
    top: 3%;
    left: 20%;
  }

  &:hover {
    background-color: white;

    color: #ff6b08;
    transform: scale(1.2);
  }
}
